/* Reset defaults */
:global(*) {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #ffa9d4;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffa9d4;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 6px;
  border: 3px solid #ffa9d4;
}
